<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="solutioo_eu_guarantee" frontName="eu-guarantee">
            <module name="Solutioo_EuGuaranteeLabel"/>
        </route>
    </router>
</config>
